#!/bin/bash
## install_chaincode.sh [org] [peer] [name] [path] [version] [port]
## Example: ./install_chaincode.sh org3 peer1 fabcar fabcar/typescript 2.0 7051
if [ $# -ne 6 ]
then
    echo [`date +"%Y-%m-%d %H:%M:%S"`] "Usage: install_chaincode.sh [org] [peer] [name] [path] [version]  [port]" \
         "(e.g. : ./install_chaincode.sh org3 peer1 fabcar fabcar/typescript 2.0 7051)"
    exit 1
fi

org="$1"
peer="$2"
name="$3"
path="$4"
version="$5"
port="$6"

export CORE_PEER_MSPCONFIGPATH={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}${org}/admin/msp
export CORE_PEER_ADDRESS=${peer}{{network.host-delimiter}}${org}:${port}

# Build Chaincode
cd {{{artifacts.peers-working-dir}}}/chaincode/${path}
npm install
npm run build
sleep 3

# Install Chaincode
peer chaincode install -n ${name} -v ${version} -p {{{artifacts.peers-working-dir}}}/chaincode/${path} -l node \
    --tls --cafile {{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}${org}/${peer}/tls-msp/tlscacerts/tls-0-0-0-0-{{orgs.tls.ca.port}}.pem

peer chaincode list --installed