[
  {
    "name": "{{orgs.peer.0.name}}PrivateDetails",
    "policy": "OR('{{orgs.peer.0.id}}.member')",
    "requiredPeerCount": 0,
    "maxPeerCount": 4,
    "blockToLive": 0,
    "memberOnlyRead": true
  },
  {
    "name": "{{orgs.peer.1.name}}PrivateDetails",
    "policy": "OR('{{orgs.peer.1.id}}.member')",
    "requiredPeerCount": 0,
    "maxPeerCount": 4,
    "blockToLive": 0,
    "memberOnlyRead": true
  },
  {
    "name": "{{orgs.peer.2.name}}PrivateDetails",
    "policy": "OR('{{orgs.peer.2.id}}.member')",
    "requiredPeerCount": 0,
    "maxPeerCount": 4,
    "blockToLive": 0,
    "memberOnlyRead": true
  }
]
