*
!package.json
!tsconfig.json
!packages/authentication/entrypoint.sh
!packages/authentication/package.json
!packages/authentication/tsconfig.json
!packages/authentication/dist
!packages/authentication/views
!packages/authentication/public
!packages/authentication/.env.prod
!packages/gw-node/package.json
!packages/gw-node/tsconfig.json
!packages/gw-node/dist
!packages/gw-node/.env.admin-service.prod
