*
!package.json
#!tsconfig.json
!packages/authentication/entrypoint.sh
!packages/authentication/package.json
#!packages/authentication/tsconfig.json
!packages/authentication/dist
!packages/authentication/views
!packages/authentication/public
!packages/authentication/.env.prod
!packages/gw-node/package.json
#!packages/gw-node/tsconfig.json
!packages/gw-node/dist
!packages/gw-node/.env.admin-service.prod
!packages/fabric-cqrs/package.json
!packages/fabric-cqrs/dist
!packages/operator/package.json
!packages/operator/dist
!packages/model-common/package.json
!packages/model-common/dist
!packages/model-loan/package.json
!packages/model-loan/dist
!packages/model-loan-private/package.json
!packages/model-loan-private/dist
!packages/gw-org1/package.json
!packages/gw-org1/dist
!packages/gw-org1/run.sh
!packages/gw-org1/.env.prod
