docker exec cli{{network.host-delimiter}}{{orgs.peer.0.domain}} bash -c "/setup/join_channel_org1.sh"
docker exec cli{{network.host-delimiter}}{{orgs.peer.1.domain}} bash -c "/setup/join_channel_org2.sh"
