version: '2'

networks:
    {{network.name}}:

services:

    {{#orgs.addorg}}
    {{ca.host}}{{network.host-delimiter}}{{domain}}:
        extends:
            file: nodebase.yaml
            service: ca
        container_name: {{ca.host}}{{network.host-delimiter}}{{domain}}
        restart: unless-stopped
        environment:
            - HYPERLEDGER_VOL={{{artifacts.docker}}}
            - FABRIC_CA_SERVER_HOME={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{ca.server-home}}}
            - FABRIC_CA_SERVER_CSR_CN={{ca.host}}{{network.host-delimiter}}{{domain}}
            - FABRIC_CA_SERVER_CA_NAME={{ca.host}}{{network.host-delimiter}}{{domain}}
        ports:
            - {{ca.port}}:{{ca.port}}
        command: sh -c 'fabric-ca-server start -d -b {{ca.admin}}:{{ca.adminpw}} --cfg.affiliations.allowremove  --cfg.identities.allowremove --port {{ca.port}}'
        volumes:
            - {{{artifacts.local}}}/../scripts/container:/setup
            - {{{artifacts.local}}}:{{{artifacts.docker}}}
    {{/orgs.addorg}}