version: '2'

networks:
    {{network.name}}:

services:

    {{#orgs.addorg}}
    cli{{network.host-delimiter}}{{domain}}:
        extends:
            file: nodebase.yaml
            service: cli
        container_name: cli{{network.host-delimiter}}{{domain}}
        environment:
            - HYPERLEDGER_VOL={{{artifacts.docker}}}
            - CORE_PEER_ID=cli{{network.host-delimiter}}{{domain}}
            - CORE_PEER_ADDRESS={{peers.endpoints.0.-}}{{network.host-delimiter}}{{domain}}:{{peers.endpoints.0.port}}
            - CORE_PEER_LOCALMSPID={{id}}
            - CORE_PEER_TLS_ROOTCERT_FILE={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{peers.endpoints.0.cert-path}}}/tls-msp/tlscacerts/tls-0-0-0-0-{{orgs.tls.ca.port}}.pem
            - CORE_PEER_MSPCONFIGPATH={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{peers.endpoints.0.cert-path}}}/msp
        working_dir: {{{artifacts.peers-working-dir}}}/{{domain}}
        command: sh
        volumes:
            - {{{artifacts.local}}}:{{{artifacts.docker}}}
            - {{{artifacts.local}}}/../scripts/container:/setup
            - {{{artifacts.local}}}/../chaincode:{{{artifacts.peers-working-dir}}}/chaincode
    {{/orgs.addorg}}