# Import common.sh
. `pwd`/common.sh

# {{orgs.orderer.name}}
sudo mkdir -p ${_CRYPTO_CONFIG_DIR}/{{{orgs.orderer.msp-path}}}/admincerts
sudo mkdir -p ${_CRYPTO_CONFIG_DIR}/{{{orgs.orderer.msp-path}}}/cacerts
sudo mkdir -p ${_CRYPTO_CONFIG_DIR}/{{{orgs.orderer.msp-path}}}/tlscacerts
sudo mkdir -p ${_CRYPTO_CONFIG_DIR}/{{{orgs.orderer.msp-path}}}/users

sudo cp  ${_CRYPTO_CONFIG_DIR}/{{{orgs.orderer.orderers.endpoints.0.cert-path}}}/msp/admincerts/{{orgs.orderer.domain}}-admin-cert.pem  ${_CRYPTO_CONFIG_DIR}/{{{orgs.orderer.msp-path}}}/admincerts
sudo cp  ${_CRYPTO_CONFIG_DIR}/{{{orgs.orderer.orderers.endpoints.0.cert-path}}}/assets/ca/{{orgs.orderer.domain}}-ca-cert.pem  ${_CRYPTO_CONFIG_DIR}/{{{orgs.orderer.msp-path}}}/cacerts
sudo cp  ${_CRYPTO_CONFIG_DIR}/{{{orgs.orderer.orderers.endpoints.0.cert-path}}}/assets/tls-ca/tls-ca-cert.pem  ${_CRYPTO_CONFIG_DIR}/{{{orgs.orderer.msp-path}}}/tlscacerts

{{#orgs.peer}}
# {{name}}
sudo mkdir -p ${_CRYPTO_CONFIG_DIR}/{{{msp-path}}}/admincerts
sudo mkdir -p ${_CRYPTO_CONFIG_DIR}/{{{msp-path}}}/cacerts
sudo mkdir -p ${_CRYPTO_CONFIG_DIR}/{{{msp-path}}}/tlscacerts
sudo mkdir -p ${_CRYPTO_CONFIG_DIR}/{{{msp-path}}}/users

sudo cp  ${_CRYPTO_CONFIG_DIR}/{{{peers.endpoints.0.cert-path}}}/msp/admincerts/{{domain}}-admin-cert.pem  ${_CRYPTO_CONFIG_DIR}/{{{msp-path}}}/admincerts
sudo cp  ${_CRYPTO_CONFIG_DIR}/{{{peers.endpoints.0.cert-path}}}/assets/ca/{{domain}}-ca-cert.pem  ${_CRYPTO_CONFIG_DIR}/{{{msp-path}}}/cacerts
sudo cp  ${_CRYPTO_CONFIG_DIR}/{{{peers.endpoints.0.cert-path}}}/assets/tls-ca/tls-ca-cert.pem  ${_CRYPTO_CONFIG_DIR}/{{{msp-path}}}/tlscacerts

{{/orgs.peer}}
# Ubuntu requires ownership of orderer certs
{{#orgs.orderer.orderers.endpoints}}
sudo chown -R $(whoami) ${_CRYPTO_CONFIG_DIR}/{{{cert-path}}}
{{/orgs.orderer.orderers.endpoints}}

cd ${_FABRIC_DIR}; 
export FABRIC_CFG_PATH=${PWD}
${_BIN_DIR}/configtxgen -profile OrgsOrdererGenesis -outputBlock genesis.block -channelID {{network.orderer-channel}}
${_BIN_DIR}/configtxgen -profile OrgsChannel -outputCreateChannelTx channel.tx -channelID {{network.peer-channels.0}}

{{#orgs.orderer.orderers.endpoints}}
sudo cp genesis.block    ${_CRYPTO_CONFIG_DIR}/{{{cert-path}}}
{{/orgs.orderer.orderers.endpoints}}
sudo mv channel.tx       ${_CRYPTO_CONFIG_DIR}/{{{orgs.peer.0.peers.endpoints.0.cert-path}}}/assets

# Update Anchor peer
{{#orgs.peer}}
${_BIN_DIR}/configtxgen -profile OrgsChannel -outputAnchorPeersUpdate {{name}}Anchors.tx -channelID {{network.peer-channels.0}} -asOrg {{name}}
mkdir -p ${_CRYPTO_CONFIG_DIR}/{{{peers.endpoints.0.cert-path}}}/assets
sudo mv {{name}}Anchors.tx ${_CRYPTO_CONFIG_DIR}/{{{peers.endpoints.0.cert-path}}}/assets
{{/orgs.peer}}
