
# Enroll {{orgs.tls.ca.host}}{{network.host-delimiter}}{{orgs.tls.domain}}'s Admin
export FABRIC_CA_CLIENT_TLS_CERTFILES={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{orgs.tls.ca.server-home}}}/ca-cert.pem
export FABRIC_CA_CLIENT_HOME={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{orgs.tls.ca.admin-cert-path}}}

{{#orgs.addorg}}
{{#peers.endpoints}}
fabric-ca-client register -d --id.name {{tls.user}} --id.secret {{tls.pw}} --id.type peer -u https://0.0.0.0:{{orgs.tls.ca.port}}
{{/peers.endpoints}}
{{/orgs.addorg}}

{{#orgs.addorg}}
{{#peers.endpoints}}
#############
# {{name}} {{-}}#
#############

# Copy certificate of the TLS CA for {{name}} {{-}}
mkdir -p {{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}/assets/tls-ca
cp {{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{orgs.tls.ca.admin-cert-path}}}/msp/cacerts/0-0-0-0-{{orgs.tls.ca.port}}.pem {{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}/assets/tls-ca/tls-ca-cert.pem

# Enroll {{name}} {{-}}
export FABRIC_CA_CLIENT_MSPDIR=tls-msp
export FABRIC_CA_CLIENT_HOME={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}
export FABRIC_CA_CLIENT_TLS_CERTFILES={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}/assets/tls-ca/tls-ca-cert.pem
fabric-ca-client enroll -d -u https://{{tls.user}}:{{tls.pw}}@0.0.0.0:{{orgs.tls.ca.port}} --enrollment.profile tls --csr.hosts {{-}}{{network.host-delimiter}}{{domain}},127.0.0.1

mv {{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}/tls-msp/keystore/* {{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}/tls-msp/keystore/key.pem

{{/peers.endpoints}}
{{/orgs.addorg}}