version: '2'

networks:
    middle-tier:

services:

{{#orgs}}
    postgres-{{name}}:
        container_name: postgres-{{name}}
        image: postgres
        environment:
            - POSTGRES_DB=postgres
            - POSTGRES_USER={{postgres.user}}
            - POSTGRES_PASSWORD={{postgres.password}}
        volumes:
            - ../data/postgres-{{name}}:/var/lib/postgresql/data
            - ../sql/createdb_{{script-name}}.sql:/docker-entrypoint-initdb.d/1-createdb.sql
        ports:
            - {{postgres.port}}:5432
        networks:
            - middle-tier

    auth-server-{{name}}:
        container_name: auth-server-{{name}}
        image: hktfp5/auth-server
        environment:
            - TYPEORM_HOST=postgres-{{name}}
            - TYPEORM_PORT={{postgres.port}}
            - TYPEORM_USERNAME={{postgres.user}}
            - TYPEORM_PASSWORD={{postgres.password}}
            - TYPEORM_LOGGING=true
            - TYPEORM_DATABASE={{postgres.dbname}}
            - ADMIN=root_admin
            - ADMIN_PASSWORD=root_admin_password
            - ACCESS_TOKEN_SECRET=ajlkqowieuqowueoi
            - REFRESH_TOKEN_SECRET=qopwieioque1
        ports:
            - {{auth-server.port}}:8080
        depends_on:
            - postgres-{{name}}
        networks:
            - middle-tier

{{/orgs}}