.DS_Store
artifacts/
*.block
volume/
.env
config/configtx.yaml

# Individual env specific config for dev-net
cfg.sh

# Generated very time by build-config.sh
config/configtx.org.yaml
compose.auth.yaml
compose.cc.yaml
compose.db-red.yaml
compose.ngx.yaml
compose.orderer.yaml
compose.org.yaml
compose.tester.yaml
