version: '2'

networks:
    {{network.name}}:

services:

    {{orgs.tls.ca.host}}{{network.host-delimiter}}{{orgs.tls.domain}}:
        extends:
            file: nodebase.yaml
            service: ca
        container_name: {{orgs.tls.ca.host}}{{network.host-delimiter}}{{orgs.tls.domain}}
        restart: unless-stopped
        environment:
            - HYPERLEDGER_VOL={{{artifacts.docker}}}
            - FABRIC_CA_SERVER_HOME={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{orgs.tls.ca.server-home}}}
            - FABRIC_CA_SERVER_CSR_CN={{orgs.tls.ca.host}}{{network.host-delimiter}}{{orgs.tls.domain}}
            - FABRIC_CA_SERVER_CA_NAME={{orgs.tls.ca.host}}{{network.host-delimiter}}{{orgs.tls.domain}}
        ports:
            - {{orgs.tls.ca.port}}:{{orgs.tls.ca.port}}
        command: sh -c 'fabric-ca-server start -d -b {{orgs.tls.ca.admin}}:{{orgs.tls.ca.adminpw}} --cfg.affiliations.allowremove --cfg.identities.allowremove --port {{orgs.tls.ca.port}}'
        volumes:
            - ../scripts/container:/setup
            - {{{artifacts.local}}}:{{{artifacts.docker}}}

    {{orgs.orderer.ca.host}}{{network.host-delimiter}}{{orgs.orderer.domain}}:
        extends:
            file: nodebase.yaml
            service: ca
        container_name: {{orgs.orderer.ca.host}}{{network.host-delimiter}}{{orgs.orderer.domain}}
        restart: unless-stopped
        environment:
            - HYPERLEDGER_VOL={{{artifacts.docker}}}
            - FABRIC_CA_SERVER_HOME={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{orgs.orderer.ca.server-home}}}
            - FABRIC_CA_SERVER_CSR_CN={{orgs.orderer.ca.host}}{{network.host-delimiter}}{{orgs.orderer.domain}}
            - FABRIC_CA_SERVER_CA_NAME={{orgs.orderer.ca.host}}{{network.host-delimiter}}{{orgs.orderer.domain}}
        ports:
            - {{orgs.orderer.ca.port}}:{{orgs.orderer.ca.port}}
        command: sh -c 'fabric-ca-server start -d -b {{orgs.orderer.ca.admin}}:{{orgs.orderer.ca.adminpw}} --cfg.affiliations.allowremove --cfg.identities.allowremove --port {{orgs.orderer.ca.port}}'
        volumes:
            - ../scripts/container:/setup
            - {{{artifacts.local}}}:{{{artifacts.docker}}}

    {{#orgs.peer}}
    {{ca.host}}{{network.host-delimiter}}{{domain}}:
        extends:
            file: nodebase.yaml
            service: ca
        container_name: {{ca.host}}{{network.host-delimiter}}{{domain}}
        restart: unless-stopped
        environment:
            - HYPERLEDGER_VOL={{{artifacts.docker}}}
            - FABRIC_CA_SERVER_HOME={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{ca.server-home}}}
            - FABRIC_CA_SERVER_CSR_CN={{ca.host}}{{network.host-delimiter}}{{domain}}
            - FABRIC_CA_SERVER_CA_NAME={{ca.host}}{{network.host-delimiter}}{{domain}}
        ports:
            - {{ca.port}}:{{ca.port}}
        command: sh -c 'fabric-ca-server start -d -b {{ca.admin}}:{{ca.adminpw}} --cfg.affiliations.allowremove  --cfg.identities.allowremove --port {{ca.port}}'
        volumes:
            - ../scripts/container:/setup
            - {{{artifacts.local}}}:{{{artifacts.docker}}}

    {{/orgs.peer}}