version: '2'

networks:
    {{network.name}}:

services:

    {{#orgs.orderer}}
    {{#orderers.endpoints}}
    {{-}}{{network.host-delimiter}}{{domain}}:
        extends:
            file: nodebase.yaml
            service: orderer
        container_name: {{-}}{{network.host-delimiter}}{{domain}}
        restart: unless-stopped
        environment:
            - ORDERER_HOST={{-}}{{network.host-delimiter}}{{domain}}
            - ORDERER_HOME={{{artifacts.docker}}}/{{{artifacts.orderer-home}}}
            - ORDERER_GENERAL_LOCALMSPID={{id}}
            - ORDERER_GENERAL_LOCALMSPDIR={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}/msp
            - ORDERER_GENERAL_TLS_CERTIFICATE={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}/tls-msp/signcerts/cert.pem
            - ORDERER_GENERAL_TLS_PRIVATEKEY={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}/tls-msp/keystore/key.pem
            - ORDERER_GENERAL_TLS_ROOTCAS=[{{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}/tls-msp/tlscacerts/tls-0-0-0-0-{{orgs.tls.ca.port}}.pem]
            - ORDERER_GENERAL_GENESISFILE={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}/genesis.block
            - ORDERER_GENERAL_CLUSTER_CLIENTCERTIFICATE={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}/tls-msp/signcerts/cert.pem
            - ORDERER_GENERAL_CLUSTER_CLIENTPRIVATEKEY={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}/tls-msp/keystore/key.pem
            - ORDERER_GENERAL_CLUSTER_ROOTCAS=[{{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}/tls-msp/tlscacerts/tls-0-0-0-0-{{orgs.tls.ca.port}}.pem]
            - ORDERER_GENERAL_LISTENPORT={{ext-port}}
        volumes:
            - {{{artifacts.local}}}/{{{artifacts.production}}}{{#artifacts.production}}/{{/artifacts.production}}{{{cert-path}}}:{{{artifacts.docker}}}/production
            - {{{artifacts.local}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}:{{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}{{{cert-path}}}
        ports:
            - {{ext-port}}:{{ext-port}}

    {{/orderers.endpoints}}
    {{/orgs.orderer}}