# Cleaup the environment
docker rm -f $(docker ps -aq)
docker volume prune -f
docker network prune -f
docker system prune -f

# Cleanup artifacts
case $(uname -s) in
    Darwin)
        rm -rf config/{{{artifacts.local}}};;
   *)
        sudo rm -rf config/{{{artifacts.local}}};;
esac

# Cleanup chaincode images
docker rmi -f $(docker images | grep eventstore | awk '{print $3}')
docker rmi -f $(docker images | grep privatedata | awk '{print $3}')

# Cleanup chaincode builds
rm -rf ../../packages/chaincode/dist
