export DOCKER_CRYPTO={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}

{{#orgs.addorg}}
docker exec cli sh -c "mkdir -p ${DOCKER_CRYPTO}{{{admin-cert-path}}}/msp/admincerts"
docker exec cli sh -c "cp ${DOCKER_CRYPTO}{{{peers.endpoints.0.cert-path}}}/msp/admincerts/{{domain}}-admin-cert.pem ${DOCKER_CRYPTO}{{{admin-cert-path}}}/msp/admincerts"

{{#peers.endpoints}}
# {{-}} joining the channel
docker exec -w "{{{artifacts.docker}}}/addorg" \
  -e "CORE_PEER_ADDRESS={{-}}{{network.host-delimiter}}{{domain}}:{{port}}" \
  -e "CORE_PEER_LOCALMSPID={{id}}" \
  -e "CORE_PEER_TLS_ROOTCERT_FILE=${DOCKER_CRYPTO}{{{cert-path}}}/tls-msp/tlscacerts/tls-0-0-0-0-{{orgs.tls.ca.port}}.pem" \
  -e "CORE_PEER_MSPCONFIGPATH=${DOCKER_CRYPTO}{{{admin-cert-path}}}/msp" \
  cli peer channel fetch 0 zero.block -c {{network.peer-channels.0}} \
    -o {{orgs.orderer.orderers.endpoints.0.-}}{{network.host-delimiter}}{{orgs.orderer.domain}}:{{orgs.orderer.orderers.endpoints.0.ext-port}} \
    --tls --cafile ${DOCKER_CRYPTO}{{{orgs.peer.0.peers.endpoints.0.cert-path}}}/tls-msp/tlscacerts/tls-0-0-0-0-{{orgs.tls.ca.port}}.pem

docker exec -w "{{{artifacts.docker}}}/addorg" \
  -e "CORE_PEER_ADDRESS={{-}}{{network.host-delimiter}}{{domain}}:{{port}}" \
  -e "CORE_PEER_LOCALMSPID={{id}}" \
  -e "CORE_PEER_TLS_ROOTCERT_FILE=${DOCKER_CRYPTO}{{{cert-path}}}/tls-msp/tlscacerts/tls-0-0-0-0-{{orgs.tls.ca.port}}.pem" \
  -e "CORE_PEER_MSPCONFIGPATH=${DOCKER_CRYPTO}{{{admin-cert-path}}}/msp" \
  cli peer channel join -b zero.block

{{/peers.endpoints}}
sleep 8
docker exec cli peer channel list

{{#peers.endpoints}}
docker exec \
  -e "CORE_PEER_ADDRESS={{-}}{{network.host-delimiter}}{{domain}}:{{port}}" \
  -e "CORE_PEER_LOCALMSPID={{id}}" \
  -e "CORE_PEER_TLS_ROOTCERT_FILE=${DOCKER_CRYPTO}{{{cert-path}}}/tls-msp/tlscacerts/tls-0-0-0-0-{{orgs.tls.ca.port}}.pem" \
  -e "CORE_PEER_MSPCONFIGPATH=${DOCKER_CRYPTO}{{{admin-cert-path}}}/msp" \
  cli peer channel getinfo -c {{network.peer-channels.0}}

{{/peers.endpoints}}
{{/orgs.addorg}}