export DOCKER_CRYPTO={{{artifacts.docker}}}/{{{artifacts.crypto}}}{{#artifacts.crypto}}/{{/artifacts.crypto}}

{{#orgs.addorg}}
# {{name}}
docker exec cli sh -c "mkdir -p ${DOCKER_CRYPTO}{{{msp-path}}}/admincerts"
docker exec cli sh -c "mkdir -p ${DOCKER_CRYPTO}{{{msp-path}}}/cacerts"
docker exec cli sh -c "mkdir -p ${DOCKER_CRYPTO}{{{msp-path}}}/tlscacerts"
docker exec cli sh -c "mkdir -p ${DOCKER_CRYPTO}{{{msp-path}}}/users"

docker exec cli sh -c "cp ${DOCKER_CRYPTO}{{{peers.endpoints.0.cert-path}}}/msp/admincerts/{{domain}}-admin-cert.pem ${DOCKER_CRYPTO}{{{msp-path}}}/admincerts"
docker exec cli sh -c "cp ${DOCKER_CRYPTO}{{{peers.endpoints.0.cert-path}}}/assets/ca/{{domain}}-ca-cert.pem ${DOCKER_CRYPTO}{{{msp-path}}}/cacerts"
docker exec cli sh -c "cp ${DOCKER_CRYPTO}{{{peers.endpoints.0.cert-path}}}/assets/tls-ca/tls-ca-cert.pem ${DOCKER_CRYPTO}{{{msp-path}}}/tlscacerts"
{{/orgs.addorg}}

# Copy files to the container
cp ../config/configtx.yaml {{{artifacts.local}}}/addorg

# Generate Json
docker exec -w "{{{artifacts.docker}}}/addorg" -e "FABRIC_CFG_PATH={{{artifacts.docker}}}/addorg" cli sh -c \
  "configtxgen -printOrg {{orgs.addorg.name}} > {{orgs.addorg.name}}.json"

# Copy container script
cp container/config_addorg*.sh {{{artifacts.local}}}/addorg

# Add new org config block and sign block
# NOTE: ONLY SIGNATURES FROM MAJORITY OF ORGANIZATIONS ARE NEEDED
{{#orgs.peer}}
docker exec cli sh -c "{{{artifacts.docker}}}/addorg/config_addorg_{{script-naming}}.sh"
sleep 2
{{/orgs.peer}}